/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 20px 0;
} */

/* ===== HEADER ====== */

/* ===== BODY ====== */
body {
    padding-top: 56px; /* To ensure the content doesn't go under the navbar */
}

.hero-section {
    background-color: #4CAF50;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-box {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    flex: 1;
    min-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.content-box:hover {
    transform: scale(1.05);
}


/* ===== FOOTER ====== */

/* footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
} */

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* ===== SIGN IN / REGISTER ====== */

/* Extra Large Button */
.bsb-btn-xl {
    --bs-btn-padding-y: 0.625rem;
    --bs-btn-padding-x: 1.25rem;
    --bs-btn-font-size: calc(1.26rem + 0.12vw);
    --bs-btn-border-radius: var(--bs-border-radius-lg);
  }
  
  @media (min-width: 1200px) {
    .bsb-btn-xl {
      --bs-btn-font-size: 1.35rem;
    }
  }
  
  /* 2X Large Button */
  .bsb-btn-2xl {
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-font-size: calc(1.27rem + 0.24vw);
    --bs-btn-border-radius: var(--bs-border-radius-lg);
  }
  
  @media (min-width: 1200px) {
    .bsb-btn-2xl {
      --bs-btn-font-size: 1.45rem;
    }
  }
  
  /* 3X Large Button */
  .bsb-btn-3xl {
    --bs-btn-padding-y: 0.875rem;
    --bs-btn-padding-x: 1.75rem;
    --bs-btn-font-size: calc(1.28rem + 0.36vw);
    --bs-btn-border-radius: var(--bs-border-radius-lg);
  }
  
  @media (min-width: 1200px) {
    .bsb-btn-3xl {
      --bs-btn-font-size: 1.55rem;
    }
  }
  
  /* 4X Large Button */
  .bsb-btn-4xl {
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 2rem;
    --bs-btn-font-size: calc(1.29rem + 0.48vw);
    --bs-btn-border-radius: var(--bs-border-radius-lg);
  }
  
  @media (min-width: 1200px) {
    .bsb-btn-4xl {
      --bs-btn-font-size: 1.65rem;
    }
  }
  
  /* 5X Large Button */
  .bsb-btn-5xl {
    --bs-btn-padding-y: 1.125rem;
    --bs-btn-padding-x: 2.25rem;
    --bs-btn-font-size: calc(1.3rem + 0.6vw);
    --bs-btn-border-radius: var(--bs-border-radius-lg);
  }
  
  @media (min-width: 1200px) {
    .bsb-btn-5xl {
      --bs-btn-font-size: 1.75rem;
    }
  }
  
  /* Background Colors */
  .bsb-tpl-bg-platinum {
    background: #e5e5e5 !important;
  }
  
  .bsb-tpl-bg-lotion {
    background: #fafafa !important;
  }
  